html
  head
    style.
      pre{
        font-size: 20px;
      }

      a{
      background-color: yellow;
      font-size:25px;
      padding:10px 10px;
      }

  body
    h1 WELCOME TO LOGIN PAGE
    pre.
      Welcome to the login page.
      sign in using github authentication.

    a(href="/") BACK
