html
  head
    style.
        pre{
        font-size:20px;
        }

        a{
        background-color: yellow;
        font-size:25px;
        padding:10px 10px;
        }

  body
  div
    h1 ID INDUCTIONS !
    pre.
      Welcome to ID Inductions click the link to
      proceed to sign in/ login in
    a(href="/login") SUBMIT
